{% extends 'base.html' %}
{% load staticfiles %}
{% block full_content %}
    <section class="bg">
        <div class="container">
            <div class="row page_main">
                <div class="col-md-6 index_box">
                    <div>
                        <h1 class="index_box_h1">DjangoDevOps維護中</h1>
                    </div>
                </div>
                <div class="col-md-6 index_box index_box_R">
                    <img src="{% static "images/error.svg" %}" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}